p{
   color: #3c3c3c;
}

a.linlink {
   padding: 0px 10px ;
   margin: 0px 0px 0px 10px ;
   border-radius: 20px;
   color: #6c7769;
}
a.linlink:hover {
   background-color: #6c7769;
   color: white;
}

div.lindivgrey{
   background-color: #238320 ;
   background-image: url(/assets/img/14.jpg);
   padding: 20px;
   border-radius: 20px;
   border: 2px solid rgb(149, 134, 134);
   width: 600px;
}

.lincrop{
   height: 100%;
   overflow: auto;
   object-fit: cover;
   margin: 10px 5px;
   border-radius: 20px;
}

.llcrop{
   height: 100%;
   overflow: auto;
   object-fit: cover;
   margin: 10px 5px;
   border-radius: 10px;
}

.lincallmebg{
   background-image: url("../assets/img/10.jpg");
   background-size: cover;
   background-repeat:no-repeat ;
   text-align: center;
   background-position:
}

.list-group{
   width: 700px;
   object-fit: cover;
   background-color: #238320;
   background-image: url(/assets/img/14.jpg);
}

section{
   background-color: #959f93;
   background-image: url(/assets/img/11.jpg);
}

.card{
   background-color: #238320;   
   background-image: url(/assets/img/14.jpg);
}

.linserif{
  font-family: "Noto Serif TC", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.linsans{
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.linscript{
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.linht{
   color: #238320;
}